<div class="container">
    <div id="home" *ngIf="!tabelaCadastro" class="form-container">
        <div class="form-group">
            <label>marca?</label>
            <input type="text" placeholder="marca" name="marca" [(ngModel)]="carro.marca">
        </div>
        <div class="form-group">
            <label>modelo?</label>
            <input type="text" placeholder="modelo" name="modelo" [(ngModel)]="carro.modelo">
        </div>
        <div class="form-group">
            <label>potencia motor?</label>
            <input type="text" placeholder="potenciaMotor" name="potenciaMotor" [(ngModel)]="carro.potenciaMotor">
        </div>
        
        <div class="form-group">
            <label>Valor do carrop?</label>
            <input type="number" placeholder="valordoCarro" name="valordoCarro" [(ngModel)]="carro.valorCarro">
        </div>

        <div class="form-group">
            <label>Ano</label>
            <input type="number" placeholder="ano" name="ano" [(ngModel)]="carro.ano">
        </div>
        <div class="form-group">
            <label>quilometragem</label>
            <input type="number" placeholder="quilometragem" name="quilometragem" [(ngModel)]="carro.quilometragem">
        </div>
        <div class="button-group">
            <input type="button" value="Alterar" *ngIf="!bntCadastro" (click)="editar()">
            <input type="button" value="Remover" *ngIf="!bntCadastro" (click)="remover()">
            <input type="button" value="Cancelar" *ngIf="!bntCadastro" (click)="cancelar()">
        </div>
    </div>

    <div class="card-container" *ngIf="tabela">
    <div class="card" *ngFor="let c of carros" (click)="selecionarCarro(c)">
        <img [src]="c.imagemUrl" alt="{{c.modelo}} image" class="car-image">
        <div class="card-details">
            <p>{{c.marca}} {{c.modelo}} {{c.potenciaMotor}}</p>
            <p><strong>R$</strong> {{c.valorCarro | currency}}</p>
            {{c.ano}} {{c.quilometragem}}
        </div>
    </div>
</div>

</div>
